<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MavpixelGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MavpixelGUI.Properties.Settings>
            <setting name="comPort" serializeAs="String">
                <value/>
            </setting>
            <setting name="baudRate" serializeAs="String">
                <value>2400</value>
            </setting>
            <setting name="termLines" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="termFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="pgmWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="pgmWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="pgmWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="setRestorePosition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="termWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="termWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="termWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="termShowing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="modeWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="modeWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="modeShowing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pixsetWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="pixsetWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="pixsetShowing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="avrDude" serializeAs="String">
                <value/>
            </setting>
            <setting name="avrConfig" serializeAs="String">
                <value/>
            </setting>
            <setting name="flashPort" serializeAs="String">
                <value/>
            </setting>
            <setting name="pgmFlash" serializeAs="String">
                <value/>
            </setting>
            <setting name="recentItems" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="pgmEraseEeprom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setUpdateCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pgmNoVerify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="comTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="comRetries" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="paletteWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="paletteWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="paletteShowing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pgmFileName" serializeAs="String">
                <value/>
            </setting>
            <setting name="pgmGetOnConnect" serializeAs="String">
                <value>True</value>
            </setting>
        </MavpixelGUI.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
